.job-item-container {
  display: flex;
  width: 100%;
  background-color: #272727;
  flex-direction: column;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
}
.job-logo-role-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.company-logo {
  width: 70px;
  height: 80px;
  margin-right: 15px;
}
.company-name-rating-container {
  display: flex;
  flex-direction: column;
}
.company-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Roboto';
}
.star-rating-container {
  display: flex;
  align-items: center;
}
.star-icon {
  width: 30px;
  height: 30px;
  color: #fbbf24;
  margin-right: 10px;
}
.rating {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto';
}
.location-package-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #cbd5e1;
  align-items: center;
}
.location-container {
  display: flex;
  align-items: center;
}
.location-image {
  width: 25px;
  height: 25px;
  color: #ffffff;
  margin-right: 10px;
}
.location-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  font-family: 'Roboto';
  margin-right: 10px;
}
.job-description {
  color: #cbd5e1;
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 16px;
}
.job-desc-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Roboto';
}
.similar-jobs-heading {
  color: #ffffff;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Roboto';
  margin-bottom: 20px;
}
.sjs-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}
.sj-container {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 450px;
  border-radius: 16px;
}
@media screen and (max-width: 576px) {
  .sj-container {
    width: 100%;
    margin-right: 0px;
  }
}
.sj-location-container {
  display: flex;
  align-items: center;
}
.sj-loaction-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
